<nav id="admin-navbar" class="admin-navbar">
  <div class="admin-navbar-container">
    <div class="logo">
      <a href="/admin/admin.html">AdminPanel.</a>
      <link rel="stylesheet" href="css/admin.css" />
    </div>
    <ul class="admin-nav-menu">
      <li><a href="admin.html">Dashboard</a></li>
      <li><a href="project-form.html">Projects</a></li>
      <li><a href="project-form.html">Articles</a></li>
      <li><a href="/admin/admin.html#gallery">Gallery</a></li>
      <li><a href="/admin/admin.html#contacts">Contact</a></li>
      <li><a href="#" onclick="logout()">Logout</a></li>
    </ul>
  </div>
</nav>
